*{padding: 0; margin: 0; box-sizing: border-box;}

.body{
    font-size: medium;
    background-color: #F6F6F6;
    font-family: 'Times New Roman', Times, serif;}

    /*header*/
.menu{
    background-color:#6D9886;}
.seccionesdemenu{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;}

    /*footer*/
.fin{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #6D9886;
    padding: 2%;
    color: black;}
.fin a {
    color: black;
    text-decoration: none;}

    /*main*/

    /*index*/
.section_info{
    padding: 1%;
    margin: 1%;
    background-color: #D9CAB3;
    min-height: 50vh;
    border: dashed;
    border-color: #6b5635;}

    /*maquinas*/
.section_producto{ 
    padding: 1%;
    margin: 1%;
    background-color: #D9CAB3;
    display: flex;
    height: 70vh;
    border: dashed;
    border-color: #6b5635;}
.lado_a{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    text-align: justify;}
.text_a{
    margin-bottom: 20px;}
.lado_b{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;}
.imagen_maquina{
    border: dashed;
    border-color: #6b5635;
    height: 100%;}

    /*preguntas_frecuentes*/

@media (max-width:768px) {
    .section_producto{    
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
    
    .lado_a{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 2%;
        text-align: justify;
    }
    
    .lado_b{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .imagen_maquina{
        max-width: 100%;
    }}