*{padding: 0; margin: 0; box-sizing: border-box;}

.body{
    font-size: medium;
    background-color: #E5F1E4;
    font-family: 'Times New Roman', Times, serif;
}

    /*header*/
.header nav {
    padding-top: 0px;
    padding-bottom: 0px;}
.menu{
    margin-top: 0px;
    background-color:#6D9886;}
.seccionesdemenu{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;}

    /*footer*/
.fin{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: #6D9886;
    padding: 2%;
    color: black;}

.fin p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fin a {
    color: black;
    text-decoration: none;}

    /*main*/

    /*index*/
.section_info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10vh;
    margin: 10vh;
    min-height: 50vh;
    border: dashed;
    border-color: #6D9886;
}

.section_info_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /*maquinas*/
.section_producto{ 
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
    padding: 10vh;
    margin: 10vh;
    height: 80vh;
    border: dashed;
    border-color: #6D9886;}

    
.lado_a{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    text-align: justify;}
.text_a{
    margin-bottom: 20px;}
.lado_b{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;}
.imagen_maquina{
    border: dashed;
    border-color: #6D9886;
    height: 100%;}

    /*preguntas_frecuentes*/
.section_preguntas{
    padding: 1%;
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 50vh;
    border: dashed;
    border-color: #6D9886;}

    
@media (max-width:768px) {

        /*maquinas*/

.section_producto{    
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}
    
.lado_a{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    text-align: justify;
}
    
.lado_b{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.imagen_maquina{
max-width: 100%;
margin-bottom: 10vh;
}


}